@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
h1, h2, h3, h4 {
    color: orangered;
}

* {
    padding: 0; 
    margin: 0;
    font-family: 'Space Mono',
    monospace;
    font-weight: 400;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a {
    padding: 10px 10px 0 10px;
    text-decoration: none;
    cursor: pointer;
    color: orangered;
}

a:hover {
    color: orange;
}

h1 {
    font-size:30px;
    font-weight: 400;

}

nav {
    height: 40px;
    width: 900px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}


ol li {
    list-style: none;
    padding: 8px;
    width: 350px;
}

ul li {
    list-style: none;
    padding: 12px;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: teal;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: start;


}

#x-link {
    position: relative;
    margin-top: 30px;
    margin-left: 780px;
    color: white;
}

.hidden {
    display: none;

}

.show {
    display: flex;

}

#wrapper {
    height: 600px; 
    width: 900px;
    position: relative;
    margin: 0px auto;
    border: orangered solid 4px;
    overflow: hidden;
}

#input-username {
    text-align: center;
    position: absolute;
    width: 250px;
    margin: 200px 325px;
}

#input-username h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

#input-username h2 {
    font-size: 30px;
    padding-bottom: 20px;
}


form {
    display: flex;
    justify-content: space-around;
}


form input, button {
    font-size: 16px;
    padding: 15px; 
    background-color:white;
    color: teal;
    border: none;
    border-radius: 30px;
    min-width: 25px;
}

button:hover {
    background-color: orange;

}

input:focus {
    outline:none; 
}

canvas {
    display: block;
    position: absolute; 

    background: linear-gradient(0deg, #00aa7e, #00aa7e, #0080c8, #003b9d, #0080c8, #00aa7e, #00aa7e, );
    background-size: 700% 700%;

    -webkit-animation: AnimationName 30s  linear infinite;
    -moz-animation: AnimationName 30s linear  infinite;
    animation: AnimationName 30s  linear infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }
        100% {
            background-position: 50% 100%
        }    
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        100% {
            background-position: 50% 100%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }
        100% {
            background-position: 51% 100%
        }
    }
}

#overlay h3 {
    margin-top: -30px;
    margin-bottom: 10px ;
    font-size: 24px;
    color: white; 
}


footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
}
