@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

h1, h2, h3, h4 {
    color: orangered;
}

* {
    padding: 0 ; 
    margin: 0 ;
    font-family: 'Space Mono',
    monospace;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: lightseagreen;
}

a:hover {
    color: orange;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

canvas {
    display: block;
    background-color: lightseagreen;
    margin: 50px auto;
}

.bottom-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-container section {
    height: 100px;
    background-color: lightgray;
    width: 50%;
    margin: 50px;
    box-sizing: border-box;
}