@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

h1, h2, h3, h4 {
    color: orangered;
}

* {
    padding: 0 ; 
    margin: 0 ;
    font-family: 'Space Mono',
    monospace;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: lightseagreen;
}

a:hover {
    color: orange;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

canvas {
    display: block;
  
    margin: 50px auto;

    background: linear-gradient(0deg, #00aa7e, #00aa7e, #0080c8, #003b9d, #0080c8, #00aa7e, #00aa7e, );
    background-size: 700% 700%;

    -webkit-animation: AnimationName 30s  linear infinite;
    -moz-animation: AnimationName 30s linear  infinite;
    animation: AnimationName 30s  linear infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }
        100% {
            background-position: 50% 100%
        }    
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }

        100% {
            background-position: 50% 100%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 50% 0%
        }
        100% {
            background-position: 51% 100%
        }
    }
}

.bottom-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-container section {
    height: 100px;
    background-color: lightgray;
    width: 50%;
    margin: 50px;
    box-sizing: border-box;
}